@model Webpro.Models.TblVehicleNumber

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblVehicleNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyVehicleNumber" class="control-label"></label>
                <input asp-for="CompanyVehicleNumber" class="form-control" />
                <span asp-validation-for="CompanyVehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverNameOptional" class="control-label"></label>
                <input asp-for="DriverNameOptional" VALUE="COMPANYVAN"class="form-control" />
                <span asp-validation-for="DriverNameOptional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightCapacity" class="control-label"></label>
                <input asp-for="WeightCapacity" class="form-control" />
                <span asp-validation-for="WeightCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
